footer {
  background-color: black !important;
}

.heart {
  color: red;
}

.madeWithLove {
  font-size: 0.9em;
  color: rgb(99, 21, 122);
}

.text-white {
  color: rgb(99, 21, 122);
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li {
  margin-bottom: 15px;
}
