@font-face {
  font-family: "youmurderer";
  src: url("../assets/fonts/youmurderer-bb.regular.otf");
}

#navigation {
  color: white;
  font-family: "youmurderer";
  text-shadow: 1px 1px orange;
  font-size: 32px;
}

.navbar {
  background-color: #070802 !important;
}
