@font-face {
  font-family: "youmurderer";
  src: url("../assets/fonts/youmurderer-bb.regular.otf");
}

.App-Body {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/img/halloween-wallpaper.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

#button_main {
  font-family: "youmurderer";
}

#slogan {
  font-family: "youmurderer";
  color: white;
  padding-top: 200px;
  margin: 0;
  font-size: 130px;
  text-shadow: 2px 2px orangered;
}

.button-homepage {
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(15deg, #0d3c8a, #041742, #0d3c8a);
  border-style: outset;
  border-color: #041742;
  border-radius: 30px;
  color: #ffffff;
  text-shadow: 2px 2px black;
  text-align: center;
  font-size: 28px;
  width: 35%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 2%;
  opacity: 0.7;
  min-width: 200px;
}

.button-homepage span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-homepage span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-homepage:hover span {
  padding-right: 25px;
}

.button-homepage:hover span:after {
  opacity: 1;
  right: 0;
}
